html,body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1d1007;
	line-height: 24px;
}

body {
	padding-top: 50px;
}

input {
	border-radius: 5px;
}

body#login {
	font-weight: bold;
	background: #222 url('../images/bg-login.gif');
}

#login-wrapper {
	background: url('../images/bg-login-top.png') top left repeat-x;
}

#login-wrapper #login-top {
	width: 100%;
	padding: 140px 0 50px 0;
	text-align: center;
}

#login-wrapper #login-content {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

.button {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background: #459300 url('../images/bg-button-green.gif') top left
		repeat-x !important;
	border: 1px solid #459300 !important;
	padding: 4px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 11px !important;
	cursor: pointer;
}

.button:hover {
	text-decoration: underline;
}

.button:active {
	padding: 5px 7px 3px 7px !important;
}

a.remove-link {
	color: #bb0000;
}

a.remove-link:hover {
	color: #000;
}